.order_check {
  height : 100%;
  width:100%;
  padding:0.5rem 0;
}
.ditch{
  margin-left:2.2rem;
}
.at-card{
  margin-top:0.6rem;
}
.at-button{
  margin:0.5rem 0.3rem !important;
}
.at-icon{
  position: absolute;
  top:3.8rem;
  left: 6.2rem;
}