.order_check {
  height : 100%;
  width:100%;
  padding:0.5rem 0;
}
.ditch{
  margin-left:2.2rem;
}
.at-card{
  margin-top:0.6rem;
}
.at-button{
  margin:0.5rem 0.3rem !important;
}
.at-icon{
  position: absolute;
  top:4rem;
  left: 6.1rem;
}
.post{
    position: relative !important;
}
.icon{
    position: absolute !important;
    top:2rem;
    left:5.7rem;
}
.at-divider{
    height: 0.5rem !important;
}