.at-segmented-control{
    height:70px !important;
    background:#fff !important;
    margin:15px 0 !important;
}
.at-segmented-control__item{
    padding-top:0.2rem !important;
    font-size: 0.3rem !important;
}
.at-input{
    height:200px !important;
}