.at-card{
    margin-bottom: 15PX !important;
}
.order_check {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.at-steps{
  margin-top:0.3rem !important;
}
.at-card__header{
  display: none !important;
}
.at-card__content{
  padding:0.5rem;
}
.at-card{
  margin-top:0.5rem;
}
.content {
  margin-top: 0.3rem;
}
.line {
  border: 1px solid #666;
  margin: 0.1rem;
  width : 100%;
}

.person_check {
  margin: 0.3rem;
}
.at-list{
  margin-top:0.3rem
}
.at-steps{
margin-top:0rem !important;
}
.at-article__info{
    margin:0rem !important;
}
.at-divider{
height:0.3rem !important;
}