.registration {
  height:100%;
  width:100%;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.at-card {
  margin-top: 0.8rem;
}
.at-card__header {
  display: none !important;
}
.check{
  margin-right: 0.6rem;
}
.room{
  margin-bottom:0.1rem;
}
.roomcode{
  margin-left:3.3rem;
}
.content{
  margin-top:0.3rem;
}
.person_check{
  margin:0.3rem;
}
.person{
  border:1px solid #666;
  width:1.2rem;
  height:1rem;
  line-height:1rem;
  padding:0.1rem;
  margin-left:3.9rem;
  border-radius: 0.1rem;
}
.line{
  border:1px solid #666;
  width:100%;
}
.momey{
//  position: fixed;
  // margin-top:3.9rem !important;
  border:2px solid #000;
  width:100%;
  height: 90px;
  line-height: 90px;
}
.icon{
  padding-right: 0.3rem !important;
  border-right: 2px solid #000;
}
.money_t{
  padding-left: 1.2rem !important;
}
.money_r{
  padding-left: 0.1rem !important;
 color:red;
}
.money_p{
  padding-left:0.4rem;
}
.at-icon{
  line-height: 2;
}
.layout-header__title{
  text-align: center !important;
}
.item-extra__info{
  overflow:visible !important;
}
.disth{
  margin-left:1rem !important
}
.disthapp{
  margin-left: 3rem !important;
}
