.choose_check{
  height: 100%;
}
.meume{
  width:100%;
  height:450px !important;
}
.swiper-img{
  width:100%;
  height: 450px !important;
}
.at-card__header{
  display: none !important;
}
.at-card{
  margin-top:1.5rem !important;
}